@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 1110px;
    margin: 0 auto;
}

.btn{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
    background-color: rgb(218, 15, 109);
    padding: 12px 35px;
    border-radius: 25px;
    border: 2px solid transparent;
    transition: all linear 0.5s;
}
.btn i{
    padding-left: 5px;
}
.btn:hover{
    border: 2px solid rgb(218, 15, 109);
    background-color: transparent;
    color: #000;
}


/* common css end */

/* header part start */
#header{
    padding: 30px 0px;
}
.header-part{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header-nav ul{
    
}
.header-nav ul li{
    display: inline-block;
    padding-left: 20px;
}
.header-nav ul li a{
    color: #000;
    font-size: 18px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 500;
    transition: all linear 0.8s;
}
.header-nav ul li:hover a{
    color: rgb(218, 15, 109);
}


/* header part end */


/* hero part start */

#hero-area{
    padding-bottom: 70px;
    padding-top: 20px;
}

.hero-part{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero-text-part{
    margin-top: 35px;
}
.hero-text-part h1{
   font-size: 50px;
   color: #3A3A3A;
   font-weight: 700;
   line-height: 72px;
}

.hero-text-part p{
    font-size: 16px;
    line-height: 24px;
    padding-right: 37px;
    padding-bottom: 15px;
    margin-top: -26px;
    color: #3A3A3A;
    
}
.hero-image-part{
    margin-left: 70px;
}
.hero-image-part img{
    width: 90%;
}

/* hero -area end */


/* partner area start */

.partner-area{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    border: 1px solid rgb(194, 194, 194);
    border-left: none;
    border-right: none;
    padding: 30px 0px;
}

/* partner area end */


/* card part start */
#card-area{
    padding-bottom: 80px;
    padding-top: 100px;
}

.card-header{
    text-align: center;
    padding-bottom: 25px;
}
.card-header h2{
    font-size: 28px;
    font-weight: 600;
    color: #3A3A3A;
}

.card-part{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.card-itam{
    padding: 15px;
    background-color: #fff;
    box-shadow: 5px 10px 18px #888888;
    margin-bottom: 30px;
    border-radius: 5px;
    margin-left: 15px ;
    margin-right: 15px;
   
    
}


.card-itam img{
    width: 100%;
    transition: transform 2s ease-in;
    
}

.card-itam h3{
   font-size: 28px;
   color: #18191F;
   margin-top: 6px;
   
}

.card-itam h4{
    font-size: 24px;
    font-weight: 300;
    margin-top: -20px;
    margin-bottom: 10px;
}
.card-itam  i{
    color: #FB8200;
    font-size: 10px;
    padding-right: 3px;
}
.card-itam  i:last-child{
    padding-right: 10px;
}


.card-link a{
    display: block;
    text-decoration: none;
    color: #787885;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
}

.card-footer{
    text-align: right;
    
}
.card-footer a{
    text-decoration: none;
    color: #E02C6D;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
}
.card-footer i{
    padding-left: 5px;
}
/* card part end */


/* about part start */

#about-area{
    padding-bottom: 70px;
}
.about-header{
    text-align: center;
    padding: 0 200px;
    padding-bottom: 30px;
}
.about-header h2{
    text-transform: capitalize;
    font-size: 44px;
}
.about-header p{
    margin-top: -20px;
    color: #555;
}
.about-part{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about-itam{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.about-itam-img{
    padding-right: 30px;
}
.about-itam-img i{
    font-size: 50px;
    color: #E02C6D;
}
.about-itam-text h3{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: #242424;
}

.about-itam-text p{
    font-size: 16px;
    line-height: 26px;
    color: #555;
    margin-top: -15px;
}
.about-part-two{
    
}
.about-part-two img{
    width: 60%;
    padding-top: 30px;
    padding-left: 145px;
}

/* about part end */





/* footer part start */
#footer-area{
    background-color: #0A0826;
    padding-top: 25px;
    padding-bottom: 40px;
}

.footer-part{
    text-align: center;
}
.footer-part h3{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
.footer-part p{
    font-size: 14px;
    color: #D9DBE1;
    margin-top: -20px;
    line-height: 24px;
}
.footer-icon ul li{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(80, 76, 76, 0.315);
    line-height: 32px;
    margin-right: 15px;
    transition: all ease-in 1s;
   
}

.footer-icon i{
    color: #fff;
    transition: all ease-in 1s;
}
.footer-icon ul li:hover {
    
    background-color: #fff;
}
.footer-icon ul li:hover i{
    color: #df0a58;
}
/* footer part end */



/* -------------------------
                         media Queres -------------------*/
 


    /* mobile phone  */

    @media only screen and (max-width:688px) {
        .container{
            width: 100%;
        }
        .header-text {
            text-align: center;
            margin-bottom: -74px;
        }
        .header-part{
            grid-template-columns: 1fr;
        }
       
        .header-nav{
            display: none;
        }  

        .hero-part{
            grid-template-columns: 1fr;
        }
        .hero-text-part h1 {
            font-size: 32px;
            line-height: 49px;
        }
        .hero-text-part p {
            padding-right: 0px;
            padding-bottom: 33px;
            margin-top: -12px;
        }
        .hero-text-part{
            text-align: center;
        }
        
        .hero-image-part {
            margin-left: 35px;
            margin-top: 43px;
        }
       
        .hero-image-part img{
            width: 100%;
        }

        .partner-area{
            grid-template-columns: repeat(2,1fr);
            
        }

        
        
        .card-part{
            
            grid-template-columns: 1fr;
            
        }
        
        .about-header {
           
            padding: 0px 0px;
        }
        .about-header h2 {
            font-size: 34px;
            padding-bottom: 10px;
        }

        .about-part-two img {
            padding-left: 80px;
        }
        
        .card-footer{
            text-align: center;
            margin-top: 40px;        
            
        }

    

        .about-part{
            grid-template-columns: 1fr;
        }

        .about-itam{
            margin: 0 20px;
        }
    }


    /* tablet part */

    @media only screen and (min-width:689px) and (max-width:1024px) {
          .container{
              width: 100%;
          }
        .header-nav ul li {
            padding-left: 10px;
        }
        .header-nav ul li a {
            font-size: 16px;
        }
        .hero-image-part {
            margin-top: 80px;
        }

        .hero-text-part p {
            padding-bottom: 29px;
        }

        .hero-text-part h1 {
            font-size: 30px;
            padding-bottom: 20px;
        }
        .hero-part{
            grid-template-columns: 1fr;
        }
        .partner-area{
            grid-template-columns: repeat(4,1fr);
            
        }

        .card-part{
            
            grid-template-columns: 1fr;
            
        }

        .about-part{
            grid-template-columns: 1fr;
        }
        .about-header h2 {
            font-size: 38px;
        }
        .about-header p {
            margin-top: 0px;
        }
        .about-header {
            padding: 0 90px;
        }
    }